/* 사이드바 */
.sidebar {
  background-color: #212529;
  color: white;
  height: 100vh;
  padding-top: 0;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
  overflow-x: hidden;
  padding-top: 0;
}

.sidebar.open {
  width: 240px;
}

.sidebar.closed {
  width: 80px;
}

/* 사이드바 토글 버튼 */
.sidebar-toggle-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #adb5bd;
  padding: 0;
  height: 56px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s, height 0.3s ease-in-out;
}

.sidebar-toggle-btn:hover {
  color: white;
}

.tb-icon-wrapper {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

.tb-icon-wrapper {
  transform: rotate(0deg);
}

.tb-icon-wrapper.rotated {
  transform: rotate(180deg);
}

/* 사이드바 메뉴 */
.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 10px;
}

.sidebar a {
  text-decoration: none;
  color: #adb5bd;
  display: flex;
  align-items: center;
  height: 56px;
  white-space: nowrap;
  border-radius: 15px;
  margin-bottom: 5px;
}

.sidebar a:hover {
  background-color: #343a40;
  color: white;
}

.sidebar a.active {
  background-color: #3d414b;
  color: white;
  font-weight: bold;
}

/* 사이드바 메뉴 아이콘 */
.menu-icon {
  width: 60px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}

/* 사이드바 메뉴 텍스트 */
.menu-text {
  opacity: 1;
  overflow: hidden;
  width: 160px;
  padding-left: 40px;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, 
              padding-left 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}

/* 사이드바 메뉴 닫혔을 때 텍스트 */
.sidebar.closed .menu-text {
  opacity: 0;
  width: 0;
  padding-left: 0;
  padding-right: 0;
  visibility: hidden;
}

/* 헤더 */
.header-container {
  padding: 40px 10px;
  height: 64px;
  /* background-color: yellow; */
  position: sticky;
  top: 0;
  z-index: 900;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.header-content-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  max-width: 1400px;
  margin: 0 auto;
}

/* 헤더-로고 */
.header-logo img {
  height: 60px;
  display: block;
}

/* 헤더-검색창 */
.header-search {
  position: relative;
  width: 450px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 20px;
}

.search-input {
  width: 100%;
  padding: 10px 35px;
  border: 2px solid #212529;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 15px;
}

.search-input:focus {
  outline: none;
}

/* 헤더-로그인 버튼 */
.login-btn {
  background-color: #212529;
  color: white;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 15px;
}

.login-btn:hover {
  background-color: #3d414b;
}


/* 메인콘텐츠 영역 */
.main-content-container {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
}

.main-content-container.sidebar-open {
  margin-left: 240px;
}

.main-content-container.sidebar-closed {
  margin-left: 80px;
}

.content-area {
  padding: 20px;
}

.page-content {
  padding-top: 10px;
  max-width: 1400px;
  margin: 0 auto;
}