/* 사이드바 */
.sidebar {
  background-color: #212529;
  color: white;
  height: 100vh;
  padding-top: 0;
  position: fixed;
  left: 0;
  top: 0;
  transition: width 0.3s ease-in-out;
  z-index: 1000;
  overflow-x: hidden;
  padding-top: 0;
}

.sidebar.open {
  width: 240px;
}

.sidebar.closed {
  width: 80px;
}

/* 사이드바 토글 버튼 */
.sidebar-toggle-btn {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: #adb5bd;
  padding: 0;
  height: 56px;
  width: 100%;
  cursor: pointer;
  transition: background-color 0.2s, height 0.3s ease-in-out;
}

.sidebar-toggle-btn:hover {
  color: white;
}

.tb-icon-wrapper {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
  transition: transform 0.3s ease-in-out;
}

.tb-icon-wrapper {
  transform: rotate(0deg);
}

.tb-icon-wrapper.rotated {
  transform: rotate(180deg);
}

/* 사이드바 메뉴 */
.sidebar-menu {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidebar a {
  text-decoration: none;
  color: #adb5bd;
  display: flex;
  align-items: center;
  height: 56px;
  white-space: nowrap;
}

.sidebar a:hover {
  background-color: #343a40;
  color: white;
}

.sidebar a.active {
  background-color: #007bff;
  color: white;
  font-weight: bold;
}

/* 사이드바 메뉴 아이콘 */
.menu-icon {
  width: 80px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  flex-shrink: 0;
}

/* 사이드바 메뉴 텍스트 */
.menu-text {
  opacity: 1;
  overflow: hidden;
  width: 160px;
  padding-left: 30px;
  transition: opacity 0.3s ease-in-out, width 0.3s ease-in-out, 
              padding-left 0.3s ease-in-out, padding-right 0.3s ease-in-out;
}

/* 사이드바 메뉴 닫혔을 때 텍스트 */
.sidebar.closed .menu-text {
  opacity: 0;
  width: 0;
  padding-left: 0;
  padding-right: 0;
  visibility: hidden;
}

/* 메인콘텐츠 영역 */
.content-area {
  flex-grow: 1;
  transition: margin-left 0.3s ease-in-out;
  padding: 20px;
}

.content-area.sidebar-open {
  margin-left: 240px;
}

.content-area.sidebar-closed {
  margin-left: 80px;
}

.page-content {
  padding-top: 10px;
}